{% load static %}

<!-- Footer Starts -->
<div class="foot">
    <!-- Container -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <!-- Foot Item -->
                <div class="foot-item">
                    <!-- Heading -->
                    <h5 class="bold"><i class="fa fa-building-o"></i>&nbsp;&nbsp;Contact Us</h5>
                    <!-- Foot Item Content -->
                    <div class="foot-item-content address">
                        <!-- Heading -->
                        <p class="tel"> <i class="fa fa-phone"></i> Tel : +234 808 172 1540<br>
                        <i class="fa fa-envelope"></i>  Mail : <a href="mailto:augustinepeter25@hotmail.com">augustinepeter25@hotmail.com</a><br>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- Foot Item -->
                <div class="foot-item">
                    <!-- Heading -->
                    <h5 class="bold"><i class="fa fa-user"></i>&nbsp;&nbsp;About</h5>
                    <p>This is a business directory that holds all businesses in the University of Nigeria.</p>

<div class="clearfix" style="height: 0px"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- Foot Item -->
                <div class="foot-item">
                    <h5 class="bold"><i class="fa fa-suitcase"></i>&nbsp;&nbsp;Introduction</h5>
                        <div class="widget-body">
                            <p>LLorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam
                                architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque
                                </p>
                        </div>                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <!-- Container -->
    <div class="container">
        <!-- Footer Content -->
            <!-- Paragraph -->
            <p class="text-center">Eyinpitan 2022, All rights reserved</p>
            <div class="clearfix"></div>
    </div>
</footer>


</div>
    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->

    <span class="totop"><a href="#"><i class="fa fa-angle-up bg-color"></i></a></span>

    <!-- Javascript files -->

    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- Placeholders JS -->
    <script src="{% static 'assets/js/placeholders.js' %}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Owl carousel -->
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <!-- Simple Datatables -->
  <script src="{% static 'assets/admin/vendor/simple-datatables/simple-datatables.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>


    <script src="{% static 'assets/js/respond.min.js' %}"></script>
    <!-- HTML5 Support for IE -->
    <script src="{% static 'assets/js/html5shiv.js' %}"></script>

    <!-- Custom JS. Type your JS code in custom.js file -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

<!--    <script src="--><!--/assets/js/ion.rangeSlider.min.js"></script>-->

<!--    <script src="--><!--/assets/js/jquery.slider.min.js"></script>-->

    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countTo.js' %}"></script>


    <div id="signin-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                    <h4 class="modal-title" id="myModalLabel">Login to your Account </h4>

                </div>

                <div class="modal-body">

                    <!-- Login starts -->
                    <div class="well login-reg-form">

                        <!-- Form -->
                        <form action="#" class="form-horizontal" role="form" method="post">
                            <!-- Form Group -->
                            <div class="form-group">
                                <!-- Label -->
                                <label for="user" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9">
                                    <!-- Input -->
                                    <input type="text" class="form-control" name="useremail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-3 control-label">Password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control"  name="password" placeholder="Password">
                                </div>
                            </div>
                                                        <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Remember Me</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <!-- Button -->
                                    <button type="submit" class="btn btn-red">Login</button>&nbsp;
                                    <button type="submit" class="btn btn-white">Reset</button>
                                </div>
                            </div>
                            <div class="col-sm-offset-3 col-sm-9">
                                <a href="#" class="black">Forgot Password ?</a>
                                                                | <a href="#" class="black">Sign Up</a>
                                                            </div>
                        </form>
                        <br />
                                            </div>
                    <!-- Login ends -->

                </div>

                <div class="modal-footer">

                </div>

            </div>

            <!-- /.modal-content -->

        </div>

        <!-- /.modal-dialog -->

    </div>


<script type="text/javascript">
jQuery(document).ready(function(){

    jQuery('.signin').click(function(e){
        e.preventDefault();
        jQuery('#signin-modal').modal('show');
    });

});
</script>
<script type="text/javascript">


    $(document).ready(function() {

        jQuery('.list-switcher').each(function(){
            var view_type = 'grid';
            var alias = 'home';
            if(view_type=='grid')
            jQuery(this).children(":first").trigger('click');           
            else if(view_type!='grid' && alias=='ad_search')
            jQuery(this).children(":nth-child(2)").trigger('click');           
            else
            jQuery(this).children(":first").trigger('click');           
        });

        jQuery('.featured-list-switcher').each(function(){
            jQuery(this).children(":first").trigger('click');
        });
      
        fix_grid_height();


    });

    function fix_grid_height()
    {
        var maxHeight = -1;
        $('.item-title').each(function() {
            maxHeight = maxHeight > $(this).height() ? maxHeight : $(this).height();
        });

        $('.item-title').each(function() {
            $(this).height(maxHeight);
        });
        jQuery('.find-my-location').tooltip();
        jQuery('.hot-tag').tooltip();
        jQuery('.hot-tag-list').tooltip();
    }
    /* *************** */
/* ** Data Table * */
/* *************** */

(function () {
  "use strict";
  const select = (el, all = false) => {
    el = el.trim()
    if (all) {
      return [...document.querySelectorAll(el)]
    } else {
      return document.querySelector(el)
    }
  }

  /**
   * Initiate Datatables
   */
  const datatables = select('.datatable', true)
  datatables.forEach(datatable => {
    new simpleDatatables.DataTable(datatable);
  })
})();

</script>
</body>

</html>
