<!-- Top bar starts -->
<div class="top-bar">
    <div class="container">

        <!-- Contact starts -->
        <div class="tb-contact pull-left">
            <!-- Email -->
            <i class="fa fa-envelope color"></i> &nbsp; <a href="mailto:rafeldo29@@gmail.com">rafeldo29@@gmail.com</a>
            &nbsp;&nbsp;
            <!-- Phone -->
            <i class="fa fa-phone color"></i> &nbsp; +628-3891-456-741
        </div>
        <!-- Contact ends -->



        <!-- Langauge starts -->
        <div class="tb-language dropdown pull-right">
                        <a href="#" data-target="#" data-toggle="dropdown"><i class="fa fa-globe"></i> English <i class="fa fa-angle-down color"></i></a>
            <!-- Dropdown menu with languages -->

            <ul class="dropdown-menu dropdown-mini" role="menu"><li class="active"><a href="http://localhost/business//en">English</a></li><li class=""><a href="http://localhost/business//in">Indonesia</a></li><li class=""><a href="http://localhost/business//es">Spanish</a></li><li class=""><a href="http://localhost/business//ru">Russian</a></li><li class=""><a href="http://localhost/business//ar">Arabic</a></li><li class=""><a href="http://localhost/business//de">German</a></li><li class=""><a href="http://localhost/business//fr">French</a></li><li class=""><a href="http://localhost/business//it">Italian</a></li><li class=""><a href="http://localhost/business//pt">Portuguese</a></li><li class=""><a href="http://localhost/business//zh">Chinese (Simplified)</a></li><li class=""><a href="http://localhost/business//tr">Turkish</a></li><li class=""><a href="http://localhost/business//hi">Hindi</a></li><li class=""><a href="http://localhost/business//bn">Bangla</a></li></ul>
        </div>
        <!-- Language ends -->

        <!-- Search section for responsive design -->
        <!--div class="tb-search pull-left">
            <a href="#" class="b-dropdown"><i class="fa fa-search square-2 rounded-1 bg-color white"></i></a>
            <div class="b-dropdown-block">
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Type Something">
									<span class="input-group-btn">
										<button class="btn btn-color" type="button">Search</button>
									</span>
                    </div>
                </form>
            </div>
        </div-->
        <!-- Search section ends -->

        <!-- Social media starts -->
        <div class="tb-social pull-right">
            <div class="brand-bg text-right">
                <!-- Brand Icons -->
                <a target="_blank" href="https://www.facebook.com/rafeldo.sulaiman" class="facebook"><i class="fa fa-facebook square-2 rounded-1"></i></a>
                <a target="_blank" href="https://twitter.com/" class="twitter"><i class="fa fa-twitter square-2 rounded-1"></i></a>
                <a target="_blank" href="https://plus.google.com/u/0/104473477896418780110" class="google-plus"><i class="fa fa-google-plus square-2 rounded-1"></i></a>
                <a  target="_blank"href="#" class="linkedin"><i class="fa fa-linkedin square-2 rounded-1"></i></a>
                <a target="_blank" href="#" class="pinterest"><i class="fa fa-pinterest square-2 rounded-1"></i></a>
            </div>
        </div>
        <!-- Social media ends -->


        <div class="clearfix"></div>
    </div>
</div>

<!-- Top bar ends -->